<!DOCTYPE html>
<html dir="ltr" lang="pl">
<head>
<%- include("./partials/head.ejs") %>
    <link rel="canonical" href="https://rise-of-pasozyt.herokuapp.com/">
    <meta property="og:url" content="https://rise-of-pasozyt.herokuapp.com/">
</head>
<body>
    <main>
        <header>
            <figure class="header_figure">
                <img class="header_image" height="300" width="244" src="/assets/pasozyt-small.webp" 
                srcset="/assets/pasozyt-small.webp 300w,
                        /assets/pasozyt.webp 500w"
                sizes="(min-width: 800) 50vh, 100vw"
                alt="Gif z pasożytem">
                <figcaption class="header_caption">Źródło: <a href="https://giphy.com/gifs/117nq2kn9CWoPm">giphy.com</a></figcaption>
            </figure>
                <div class="header_main">
                    <h1 class="header_title">Witamy na Stronie Głównej planszówki Rise of Pasożyt</h1>
                    <div class="header_links">
                        <a class="header_button" href="/pytanie">Wylosuj pytanie</a>
                        <a class="header_button" href="/szansa">Wylosuj szansę</a>
                    </div>
                </div>
        </header>
    </main>
</body>
</html>