<!DOCTYPE html>
<html dir="ltr" lang="pl">
<head>
<%- include("./partials/head.ejs") %>
    <link rel="canonical" href="https://rise-of-pasozyt.herokuapp.com/">
    <meta property="og:url" content="https://rise-of-pasozyt.herokuapp.com/">
</head>
<body>
    <main>
        <%- include("./partials/image.ejs") %>
        <div class="header_main">
            <header>
                <h1 class="header_title">Witamy na Stronie Głównej planszówki Rise of Pasożyt</h1>
            </header>
        </div>
        <%- include("./partials/buttons.ejs") %>
    </main>
    <%- include("./partials/sw.ejs") %>
</body>
</html>