<!DOCTYPE html>
<html lang="pl">
<head>
<%- include("./partials/head.ejs") %>
</head>
<body>
    <header>
        <figure class="header_figure">
            <img class="header_image" width="50%" src="https://i.giphy.com/media/117nq2kn9CWoPm/giphy.webp" alt="Gif z pasożytem" longdesc="Źródło: giphy.com">
            <figcaption class="header_caption">Źródło: <a href="https://giphy.com/gifs/117nq2kn9CWoPm">giphy.com</a></figcaption>
        </figure>
        <main>
            <div class="header_main">
                <h1 class="header_title">Pytanie: <%= question.question %></h1>
                <p>Nagroda: <%= question.reward %> pc</p>
                <details>
                    <summary>Pokaż odpowiedź</summary>
                    <%= question.answer %>
                </details>
                <div class="header_links">
                    <a class="header_button" href="/pytanie">Wylosuj pytanie</a>
                    <a class="header_button" href="/szansa">Wylosuj szansę</a>
                </div>
            </div>
        </main>
    </header>
</body>
</html>