<!DOCTYPE html>
<html dir="ltr" lang="pl">
<head>
<%- include("./partials/head.ejs") %>
    <link rel="canonical" href="https://rise-of-pasozyt.herokuapp.com/">
    <meta property="og:url" content="https://rise-of-pasozyt.herokuapp.com/">
</head>
<body>
    <main>
        <%- include("./partials/image.ejs") %>
        <div class="header_main">
            <header>
                <!-- <h1 class="header_title" style="font-size: 4rem;">00:00</h1> -->
                <h1 class="header_title"> Pozostały czas: <span id="time">30.00</span></h1>
            </header>
        </div>
        <script type="text/javascript" src="ts/stoper.js"></script>
        <%- include("./partials/buttons.ejs") %>
    </main>
</body>
</html>