@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
}

:root {
	font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1980 - 300)));
}

body,
html {
	font-size: 1rem;
	font-family: "Roboto", sans-serif;
}

.header_figure {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.header_image {
	width: 100%;
	height: auto;
}

.header_main {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 1rem 1.5rem;
}

.header_title {
	text-align: center;
}

article {
	padding-top: .5rem;
	width: 100%;
	align-self: flex-start;
}

.header_button {
	padding: 1rem;
	background-color: rgb(96, 96, 255);
	color: white !important;
	text-decoration: none !important;
	border-radius: 0.25rem;
	margin: .5rem 0;
	text-align: center;
}

.header_links {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 0 1.5rem;
	margin: .5rem 0;
}

details {
	align-self: flex-start;
	padding: .5rem;
	font-size: 1.25rem;
}

summary {
	cursor: pointer;
}

ul {
	padding: 0 1rem .5rem 1rem;
	list-style-type: none;
}

p {
	margin-bottom: .5rem;
}

.answers {
	padding: .5rem;
	font-size: 1.25rem;
	align-self: flex-start;
}

.comment {
	font-size: .8rem;
	padding-top: .25rem;
}

.result {
	font-size: 1.25rem;
	padding: .5rem;
	text-align: center;
}

@media screen and (min-width: 800px) {
	.header_image {
		height: 50vh;
		width: auto;
	}

	header {
		width: 40%;
	}

	.answers {
		width: 35vw;
		align-self: center;
	}
	
	article {
		width: 45vw;
		align-self: center;
	}

	.header_links {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.header_button {
		margin: .5rem;
	}

	details {
		width: 35vw;
		align-self: center;	
	}

	.result {
		width: 35vw;
	}
}
