<div class="header_links">
	<a class="header_button" href="/pytanie">Wylosuj pytanie</a>
	<a class="header_button" href="/szansa">Wylosuj szansę</a>
	<a class="header_button" href="/kostka">Rzuć kostką</a>
	<a class="header_button" href="/stoper">Uruchom stoper</a>
</div>
